.screen-overlay {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    font-family: "Outfit";
    position: relative;
    /* background-image: url('./night_sky_stars.jpeg'); */
    /* Relative path */
    /* background-size: cover; */
    /* Ensures it covers the full screen */
    /* background-position: center; */
    /* Centers the image */
    /* background-repeat: no-repeat; */
    /* Prevents repeating */
    /* background-attachment: fixed; */
    /* Stays fixed on scroll */

}

.star-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    animation: twinkle 2s infinite alternate ease-in-out;
}

@keyframes twinkle {

    0%,
    100% {
        opacity: 0.1;
    }

    50% {
        opacity: 1;
    }
}

.content {
    position: relative;
}